@media(max-width:768px){
    #header{
 
        text-align: center;
        .box-right{
            display: none;
h1{
    font-size: 2.5rem;
}
        }
    }
}
    // HEADER END
    .sectionThree{
        .speed{
            p{
                font-size: 15px;
            }
        }
    }
